.benefits-list
{
    @media screen and (min-width:768px)
    {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        margin-left: -30px;
    }

}
.benefits-list__item
{
    width: 100%;
    &:not(:last-child)
    {
        margin-bottom: 30px;
    }
    &::before
    {
        content: '';
        display: block;
        height: 120px;
        background: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    @media screen and (min-width:768px){
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
        &:not(:last-child)
        {
            margin-bottom: 0px;
        }
        &:not(:nth-child(n+3))
        {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:1200px)
    {
        width: calc(100% / 4 - 30px);
        &:not(:nth-child(n+3))
        {
            margin-bottom: 0px;
        }
    }
}

.icon-antenna
{
    &::before
    {
        background-image: url('../images/antenna.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
.icon-clock
{
    &::before
    {
        background-image: url('../images/clock.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
.icon-diagram
{
    &::before
    {
        background-image: url('../images/diagram.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
.icon-astronaut
{
    &::before
    {
        background-image: url('../images/astronaut.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
.benefits-list__title
{
    @include font(14px,700,1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 10px;
}
.benefits-list__text
{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}