.page-footer
{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 57px;

}
.footer-box
{   
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding-left: 68px;
        @media screen and (min-width:1200px)
        {
            padding-left: 0;
        }
    }

}
.footer-box__contacts
{
    margin-bottom: 60px;
    @media screen and (min-width:768px)
    {
        margin-right: 165px;
    }
    @media screen and (min-width:1200px)
    {
        margin-bottom: 0;
        margin-right: 0;
    }
}

.footer-box__text
{
    @include font(14px,700,1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    @media screen and (min-width:1200px)
    {
        text-align: start;
    }
}

.footer-box__social
{
    margin-bottom: 60px;
    @media screen and (min-width:1200px)
    {
        margin-left: 70px;
        margin-bottom: 0;
    }
}
.footer-box__form
{
    @media screen and (min-width:768px)
    {
        margin-left: 93px;
    }
}