.works
{
    padding-top: 0px;

}
.works__list
{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.works__item
{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
}
.works__item-wraper
{
    position: absolute;
    width: 100%;
    background-color:  rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
}
.works__item-text
{
    @include font(14px,700,1.14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}