.info-list
{
    display: flex;
    margin-left: auto;
}
.info-list__item{
    &:not(:last-child)
    {
        margin-right: 50px;
    }
}
.info-list__link
{   @include font(14px,500,1.14);
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus
    {
        color: var(--secondary-text-color);
    }
}
.info-list__icon
{
    display:inline-block;
    margin-right: 10px;
    fill: currentColor;
}
