.info-list
{   
    margin-top: auto;
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width:768px)
    {
        flex-direction: column;
    }
    @media screen and (min-width:1200px)
    {
        flex-direction: row;
        margin-left: auto;
    }
}
.info-list__item{
    @media screen and (max-width:767px)
    {
        &:not(:last-child)
        {
            margin-bottom: 64px;
        }
        &:last-child
        {
            margin-bottom: 32px;
        }
    }
    @media screen and (min-width:768px)
    {
        &:not(:last-child)
        {
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width:1200px)
    {
        
        &:not(:last-child)
        {
            margin-right: 50px;
            margin-bottom: 0;
        }
    }
}
.info-list__link
{   
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus
    {
        color: var(--secondary-text-color);
    }
    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.mail-link
{
    @include font(24px,500,1.6);
    @media screen and (min-width:768px)
    {
        @include font(12px,500,1.16);
    }
    @media screen and (min-width:1200px)
    {
        @include font(14px,500,1.14);
    }
}
.tel-link
{
    @include font(34px,500,1.15);
    @media screen and (min-width:768px)
    {
        @include font(12px,500,1.16);
        color: var(--third-text-color);
    }
    @media screen and (min-width:1200px)
    {
        @include font(14px,500,1.14);
    }
}


.info-list__icon
{
    display: none;
    @media screen and (min-width:768px)
    {
        display:inline-block;
        margin-right: 10px;
        fill: currentColor;
    }
}

