.logo-link
{   
    @include font(26px,700,1.19);
    display: block;
    font-family: Raleway, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    .page-footer &
    {
        margin-bottom: 20px;
    }
    .page-header &
    {
        margin-right: 93px;
    }
}
.logo-link__first
{
    color: var(--secondary-text-color);
}
.logo-link__second
{
    color: #000000;
    .page-footer &
    {
        color: #FFFFFF;
    }
}