.logo-link
{   
    @include font(24px,700,1.16);
    display: block;
    font-family: Raleway, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    @media screen and (min-width:1200px) {
        @include font(26px,700,1.19);
    }
}
.logo-link__first
{
    color: var(--secondary-text-color);
}
.logo-link__second
{
    color: #000000;
    .page-footer &
    {
        color: #FFFFFF;
    }
}