.registration-form__field
{
    margin-bottom: 10px;
}
.registration-form__input-wraper
{
    position: relative;
    margin-top: 4px;
}
.registration-form__icon
{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.registration-form__data-input
{
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-right: 15px;
    transition: border 250ms var(--timing-function), border-radius 250ms var(--timing-function) ;
    &:hover,
    &:focus
    {
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    }
}

.registration-form__icon
{
    .registration-form__data-input:hover + &,
    .registration-form__data-input:focus + &
    {
        fill: var(--secondary-text-color);
    }
}
.customer-auth
{
    min-height: 40px;
    padding-left: 40px;
}
.customer-comment
{
    min-height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    margin-bottom: 20px;
    resize: none;
    &::placeholder
    {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.registration-form__label
{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em; 
    color: #757575;
}
.registration-form__check-label
{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration-form__link
{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    display: inline-block;
    margin-left: 5px;
}
.registration-form__check
{
    margin-right: 9px;
}
.registration-form__icon-wrap
{
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    transition: background-color 250ms var(--timing-function);
    .registration-form__check:checked + &
    {
        background-color: var(--secondary-text-color);
        border: none;
    }
}

.registration-form__btn
{
    margin: 0 auto;
}